a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    object-fit: contain;
    max-width: 100%;
}

button {
    cursor: pointer;
}

body {
    font-family: "Roboto", sans-serif;
    color: #2c2c2c;
}

.container {
    margin: 0 auto;
    width: 1280px;
    padding: 0 16px;
}

/*---Header---*/

.header {
    box-shadow: 0 4px 24px 0 rgba(105, 105, 105, 0.1);
}

.header-container {
    display: flex;
    align-items: center;
}

.logo {
    flex-grow: 1;
}

.nav {
    margin-right: 30px;
}

.nav-list {
    display: flex;
    gap: 28px;
}

.nav-link {
    display: block;
    padding: 28px 0;
    font-size: 14px;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
    color: #bbf330;
}

.header-btn,
.hero-btn {
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    background: #bbf330;
    border-radius: 30px;
    border: none;
    min-width: 98px;
    height: 32px;
}

.header-btn:hover,
.header-btn:focus,
.header-btn:active {
    background: #ffe450;
}

/*---Header---*/

/*---Hero section---*/

.hero {
    padding: 14px 0 69px;
}

.hero-container {
    display: flex;
    align-items: center;
    gap: 143px;
}

.hero-content {
    max-width: 511px;
}

.hero-title {
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 29px;
}

.hero-text {
    line-height: 1.5;
    margin-bottom: 39px;
}

.hero-btn:hover,
.hero-btn:focus {
    background: #ffe450;
}

.hero-image {
    border: 26px solid #ffe550;
    border-radius: 100%;
}

/*---Hero section---*/

/*---Benefits section---*/

.benefits {
    padding: 113px 0 124px;
    background: #ffe550;
}

.benefits-container {
    display: flex;
    align-items: center;
    gap: 90px;
}

.benefits-content {
    max-width: 573px;
}

.benefits-title {
    font-size: 42px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.benefits-text {
    line-height: 1.5;
    margin-bottom: 40px;
    max-width: 500px;
}

.benefits-list {
    display: flex;
    gap: 67px;
    margin-bottom: 32px;
}

.benefits-item {
    width: calc((100% - 67px) / 2);
}

.benefits-item-image {
    margin-bottom: 8px;
}

.benefits-item-title {
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 16px;
}

.benefits-item-text {
    font-size: 14px;
    line-height: 1.5;
}

.benefits-btn {
    border: 2px solid #7eb101;
    border-radius: 30px;
    min-width: 106px;
    height: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.benefits-btn:hover {
    border: none;
    background: #bbf330;
}

/*---Benefits section---*/

/*---Menu section---*/

.menu {
    padding: 120px 0 101px;
}

.menu-title {
    font-size: 42px;
    margin-bottom: 20px;
    text-align: center;
}

.menu-text {
    margin-bottom: 40px;
    text-align: center;
}

.menu-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

.menu-item {
    width: calc((100% - 32px * 2) / 3);
}

/*---Menu section---*/

/*---Contact section---*/

.contact {
    padding: 140px 16px 126px;
    background: #ffe550;
}

.contact-title {
    font-size: 42px;
    margin-bottom: 20px;
}

.contact-text {
    margin-bottom: 33px;
}

.contact-list {
    display: flex;
    gap: 139px;
}

.contact-item {
    padding: 14px;
    background: #fff;
    border-radius: 0 25px 25px 25px;
}

.contact-item-rank {
    display: flex;
    gap: 4px;
    margin-bottom: 29px;
}

.contact-item-review {
    font-weight: 700;
    font-size: 18px;
    max-width: 473px;
    margin-bottom: 40px;
}

.contact-item-reviewer {
    display: flex;
    align-items: center;
    gap: 16px;
}

.contact-reviewer-info {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.contact-item-name {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
}

.contact-item-desc {
    font-size: 14px;
    line-height: 1.5;
}

.contact-item-reviewer::after {
    content: "";
    border: 1px solid #7eb101;
    width: 0px;
    height: 52px;
}

/*---Contact section---*/

/*---Subscribe section---*/

.subscribe {
    padding: 176px 0 201px;
}
.subscribe-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 33px;
}

.subscribe-title {
    font-size: 42px;
    margin-bottom: 20px;
}

.subscribe-text {
    line-height: 1.5;
    max-width: 448px;
    margin-bottom: 24px;
}

.subscribe-form-input {
    border: 0.85px solid #ffe550;
    border-radius: 30px;
    padding: 10px;
    width: 395px;
    height: 42px;
    margin-right: 32px;
    font-size: 12px;
    line-height: 1.5;
    color: #505050;
    outline: none;
}

.subscribe-form-btn {
    border-radius: 30px;
    padding: 10px 20px;
    min-width: 103px;
    height: 42px;
    background: #bbf330;
    border: none;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
}

.subscribe-form-btn:hover,
.subscribe-form-btn:focus,
.subscribe-form-btn:active {
    background: #ffe450;
}

/*---Subscribe section---*/

/*---Footer---*/

.footer {
    box-shadow: 0 -4px 24px 0 rgba(105, 105, 105, 0.1);
    padding: 100px 0 100px;
    background-image: url("../images/fruits-bkg.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 90%;
}

.footer-container {
    display: flex;
    flex-direction: column;
}

.footer-content {
    display: flex;
    margin-bottom: 80px;
}

.footer-logo {
    margin-right: 143px;
}

.footer-list {
    display: flex;
    flex-grow: 1;
    gap: 28px;
    align-items: flex-start;
}

.footer-item-link {
    padding: 18px 0;
    font-size: 14px;
    display: block;
}

.footer-item-link:hover,
.footer-item-link:focus,
.footer-item-link:active {
    color: #bbf330;
}

.footer-subscribe-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-form-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
}

.footer-form {
    display: flex;
    gap: 13px;
    align-items: center;
}
.footer-form-input {
    border: 0.85px solid #ffe550;
    border-radius: 30px;
    padding: 12px;
    width: 279px;
    height: 42px;
    outline: none;
    font-size: 12px;
    line-height: 1.5;
    color: #505050;
}

.footer-form-btn {
    border: 0.85px solid #7eb101;
    border-radius: 30px;
    padding: 10px 20px;
    min-width: 103px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.footer-form-btn:hover,
.footer-form-btn:active,
.footer-form-btn:focus {
    border: 2px solid #ffe450;
}

.footer-form-policy {
    font-size: 12px;
}

.form-policy-link {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #7eb101;
}

.footer-policy {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-policy-list {
    display: flex;
    gap: 20px;
}

.footer-policy-item .footer-policy-link {
    font-size: 12px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #7eb101;
}

.footer-copyright {
    font-size: 12px;
}

/*---Footer---*/
